<h1>My Posts</h1>

<% if !@posts.blank? %>
  <% @posts.each do |post| %>
    <div class="col-md-10">
       <h1><%= post.title %></h1>   
       <em>Created by: <%= post.user.full_name %>, <%= time_ago_in_words(post.created_at) %> ago</em>
       <article><p> <%= post.content %> </p></article>
       <%= link_to 'Read', post_path(post), :class => "btn btn-info" %>
       <%= link_to 'Edit', edit_post_path(post), :class => "btn btn-default" %>
       <%= link_to 'Delete', post, :class => "btn btn-danger", :method => :delete, :data => {:confirm => "Are you sure you want to delete this post?"} %>
       <hr>
    </div>
  <% end %>
<% else %>
  <p class="text-primary"> Sorry, no posts to display. </p>
<% end %>